

nav {
    width: 100%;
    padding: 32px;
    display: flex;
    justify-content: space-between;

    > img {
        width: 64px;
        height: 64px;
    }

    > div {
        width: 230px;
        display: flex;

        > a {
          &hover {
              color: red;
          }
        }
    }
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 64px;
    height: 64px;
}

.navbar {
    position: absolute;
    top: 0;
}

.phone-btn {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: red;
    border: 1px solid #fff;
    border-radius: 16px;
    margin: 0;
    padding: 0px 8px;

    > img {
        width: 24px;
        height: 24px;
        margin-right: 16px;
    }
}
